
.task__search{
    &__container{
        padding-top:1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        display: flex;
        font-size: 1.2rem;
    }
    &__icon{
        color: gray;
        font-size: 1.25rem;
        margin-right: 1rem;
    }

    &__inputbox{
        border: 0px;
        outline: none;
    }
}