
.moveUp{
    animation: slideUp 0.5s forwards;
}
.moveDown {

    animation: slideDown 0.5s forwards;
}
@keyframes slideUp {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
  
    to {
      transform: translateY(-20%);
      opacity: 0;
    }
  }

@keyframes slideDown {
    from {
      transform: translateY(0%);
      opacity: 0;
    }
  
    to {
      transform: translateY(20%);
      opacity: 1;
    }
  }