@import "../../../styles/base";
.alert__container {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.alert {
  background-color: $primary-color;
  min-width: 15%;
  border-radius: 5px;
  padding: 0.75rem;
  margin-top: 0.5rem;
}
