
@import "../../../styles/base";
.selection__box{
    outline: none;
    border: 0px;
    border-bottom: 2px solid $primary-color;
    height: 1.5rem;
    color:rgb(99, 99, 99);
}

.achievement__label{
    margin-right: 0.5rem;
}